// Partials
@import "partials/base";

// Colors
@import "partials/colors";

// Main Styles
@import "partials/header";
@import "partials/left-nav";
@import "partials/content";
@import "partials/mobile";
body{
  font-family: $sans;
  font-size: 1rem;
  color: $color_dark-gray;
  a{
    text-decoration: none;
  }
}
