<header class="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<img class="logo" src="/assets/img/logo.svg" alt="Datica Logo">
				<span class="tagline">Datica | Compliant Innovation</span>
			</div>
			<div class="col-xs-6">
				<nav>
					<a href="//datica.com" target="_blank">Datica.com</a>
					<a href="//help.datica.com/hc/en-us" target="_blank">Legacy Documentation</a>
					<a href="//datica.com/contact" target="_blank">Contact Us</a>
				</nav>
			</div>
			<div class="col-xs-3 end-xs">
				<a class="main-button" href="//github.com/daticahealth/cks-docs">
					<img src="/assets/img/github.svg" alt="Github Icon" class="icon"> View on Github
				</a>
			</div>
		</div>
	</div>
</header>
