$color_dark: #222;
$color_white: #FFF;
$color_light-gray: lighten(#CEDADF, 5%);
$color_mid-gray: darken(#607782, 10%);
$color_dark-gray: darken(#607782, 20%);
$color_blue: #0A8DFF;
$color_green: darken(#24c35f, 3%);
$color_red: #f73482;
